<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

	<!--for Google Ads-->
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-2472753985077329~1491932647</string>
	<!-- <key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array> -->
	<!--for Google Ads End-->

	<!--for in app purchase-->
	<key>SKAdNetworkItems</key>
	<array>
			<dict>
					<key>SKAdNetworkIdentifier</key>
					<string>cstr6suwn9.skadnetwork</string>
			</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
	</dict>
	<!--for in app purchase-->
	
	<!--for share handler-->
	<key>NSUserActivityTypes</key>
	<array>
			<string>INSendMessageIntent</string>
	</array>
	<key>AppGroupId</key>
	<string>$(CUSTOM_GROUP_ID)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photos can be shared to and used in this app</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<string>No</string>
	<key>CFBundleDocumentTypes</key>
	<array>
			<dict>
					<key>CFBundleTypeName</key>
					<string>ShareHandler</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSItemContentTypes</key>
					<array>
							<string>public.file-url</string>
							<string>public.image</string>
							<string>public.text</string>
							<string>public.movie</string>
							<string>public.url</string>
							<string>public.data</string>
					</array>
			</dict>
	</array>
	<!--for share handler-->

	<!--for share handler 2-->
	<!--for share handler 2 end-->

	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Tagify</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>tagify</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>


	<!--CFBundleURLTypes-->
	<key>CFBundleURLTypes</key>
	<array>
			<!-- 구글 로그인 -->
			<dict>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>CFBundleURLSchemes</key>
					<array>
							<string>com.googleusercontent.apps.765904510555-84osbh0n5th1p7ts947b17h3jmj8sdb6</string>
					</array>
			</dict>

			<!-- ShareHandler용 (ShareMedia-$(PRODUCT_BUNDLE_IDENTIFIER)) -->
			<dict>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>CFBundleURLSchemes</key>
					<array>
							<string>ShareMedia-$(PRODUCT_BUNDLE_IDENTIFIER)</string>
					</array>
			</dict>

			<!-- ShareHandler용 (tagify) -->
			<dict>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>CFBundleURLSchemes</key>
					<array>
							<string>tagify</string>
					</array>
			</dict>
	</array>
</dict>
</plist>
